// Primary colors
$background:#FCFAF7;
$accent:#8CAE99;
$button_primary:#EE5622;
$button_secondary:#FDCEA6;
$text-header:#221E22;
$text_body_primary:#160C28;
$text_body_secondary:#546070;

$white: #FFF;
$navBar_background: #E9E9E9;

